node_modules
npm-debug.log
dist
.git
.gitignore
.github
.env
.env.local
.env.test
.env.example
README.md
ARCHITECTURE.md
DEPLOYMENT.md
docker-compose.yml
Dockerfile
.dockerignore
.vscode
.idea
.DS_Store
*.log
coverage
tests
load-tests
scripts
terraform
docs
.eslintignore
.eslintrc
.prettierignore
.prettierrc
jest.config.js
tsconfig.json
src/script
src/workers
yarn.lock